:root {
	--black: #0a0a0a;
	--white: #ffffff;
	--blue: #0049FF;
	--yellow: #F1FF6C;
	
	--background-grey: #f5f5f5;
	--font-grey: #585858;
	--line-grey: #CECECE;
	--tab-grey: #A7A7A7;
	--footer-font-grey: #808080;
}